{% extends "base.html" %}

{% block title %}Status{% endblock %}

{% block content %}

<div class="datagrid"><table>
<thead><tr><th>User</th><th>{{ result.realname }}</th></tr></thead>
<tbody><tr><td>Status</td><td>{{ result.status }}</td></tr>
<tr class="alt"><td>Expiration</td><td>{{ result.expiration }}</td></tr>
<tbody><tr><td>SSH Key Hash</td><td>{{ result.ssh_key_hash }}</td></tr>
<tr class="alt"><td>Username</td><td>{{ result.username }}</td></tr>
</tbody>
</table></div>

{% endblock %}

