# Configuration
CASSH_URL = 'https://cassh.domain.fr'
ENABLE_LDAP = True
PORT = 8443
UPLOAD_FOLDER = '/tmp/'
SSL_PUB_KEY = '/etc/ssl/certs/ssl-cert-snakeoil.pem'
SSL_PRIV_KEY = '/etc/ssl/private/ssl-cert-snakeoil.key'
ENCRYPTION_KEY = 'bSFEf9YNd1mXg5S5ko9NebHapQANJqFo'
LOGIN_BANNER = 'Login LDAP/AD'
DEBUG = False
LISTEN = '0.0.0.0'
